<nav
  class="flex items-stretch justify-between h-full border-0 shaddow-xl backdrop-blur-2xl -my-2 shadow-xl"
>
  @for (item of appService.bottomNavItems(); track item.route) {
    <a
      [routerLink]="item.route"
      routerLinkActive="text-primary bg-primary-500 rounded-lg mx-2 px-2 bold shadow-xl"
      [routerLinkActiveOptions]="{ exact: true }"
      #rla="routerLinkActive"
      class="relative flex-1 flex flex-col items-center justify-center no-underline text-surface-500 transition-all duration-200 select-none"
    >
      <i
        [class]="item.icon"
        [ngClass]="rla.isActive ? 'text-white' : ''"
        class="text-xl transition-all duration-200"
      ></i>

      <span
        [ngClass]="rla.isActive ? 'text-white' : ''"
        class="text-xs transition-all duration-200 bold"
      >
        {{ item.label }}
      </span>
    </a>
  }
</nav>
