::ng-deep {

  //tabs
  .p-tablist-tab-list {
    display: flex;
    justify-content: space-around;
    // border-color: var(--p-primary-500);
    .p-tab-active {
      background: var(--p-primary-500);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: white;
    }
    .p-tablist-active-bar {
      display: none;
    }
  }

  //datepicker
  .p-datepicker-panel {

    .p-datepicker-header {
      background-color: var(--p-primary-500);
      border-radius: 10px;
      padding: 4px;
    }
    .p-datepicker-today > .p-datepicker-day {
      background: var(--p-primary-500);
      color: var(--color-white);
    }
    .p-button-text.p-button-secondary {
      color: black;
    }
    .p-button-text.p-button-secondary {
      color: white;
    }
  }

  .p-dark .p-datepicker-panel {
    .p-button-text.p-button-secondary {
      color: white;
    }
  }

  [dir=rtl] .p-datepicker-panel {
    .p-button-text.p-button-secondary {
      svg {
        transform: rotate(180deg);
      }
    }
  }

}
