<div class="flex flex-col h-full">
  <h1 class="my-4 text-2xl shrink-0 text-center">
    📅 Murli, <span>{{ today | date: 'EEE MMM d y' }}</span>
  </h1>

  <p-tabs value="full" class="flex-1 flex flex-col min-h-0 border-red-400">
    <p-tablist class="shrink-0">
      @for (tab of tabHeaders; track tab.id) {
        <p-tab [value]="tab.id" class="flex justify-between items-center text-primary-500">
          <i [class]="tab.icon"></i>
          {{ tab.title }}
        </p-tab>
      }
    </p-tablist>

    <p-tabpanels class="flex-1 min-h-0 overflow-y-auto p-6!">
      <p-tabpanel value="full">
        @for (section of avyaktSections; track section.title) {
          <app-murli-section
            [title]="section.title"
            [subtitle]="section.subtitle"
            [content]="section.content"
          />
        }
      </p-tabpanel>
      <p-tabpanel value="summary">
        <h1>Murli component with summary text</h1>
      </p-tabpanel>
      <p-tabpanel value="song">
        <h1>Youtube video component</h1>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
