::ng-deep {
  p-menu .p-menu {
    border: none;
    background-color: transparent;
  }
  p-menu .p-menu .p-menu-item-link {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: var(--primary-color);
    &.p-menu-item-link-active {
      background-color: var(--color-accent-500) !important;
      color: white;
      .p-menu-item-icon {
        color: white;
      }
    }
  }

  p-menu .p-menu-item-content {
    .p-menu-item-icon {
      color: var(--p-text-color);
    }
  }
  .p-dark .p-menu-item:not(.p-disabled) .p-menu-item-content:hover .p-menu-item-icon {
    color: white;
  }
}
